{% extends 'base.html.twig' %}

{% block body %}

    <h1>Character index</h1>
{#    <div class="load-ajax" data-url="{{ path('character_filter') }}">#}
        {{ render(controller('App\\Controller\\CharacterController::filter')) }}
{#    </div>#}
{#    <div class="load-ajax" data-url="{{ path('character_list') }}">#}
        {{ render(controller('App\\Controller\\CharacterController::list',{page: page})) }}
{#    </div>#}
{% endblock %}